
<div class="container">
  <nav class="sub-nav">
  {{breadcrumbs}} 
  </nav></div>

<div class="top-image">
  <div class="container">
    <header class="page-header">
        <h1>{{category.name}}</h1>
        {{#if category.description}}
          <p class="page-header-description">{{category.description}}</p>
        {{/if}}
     
    
  <div class="search-container">
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    {{search scoped=settings.scoped_kb_search submit=false class='search search-scoped'}}
    </div>
       </header>
  </div>
</div>
<div class="container">
  <div class="category-container">
    <div class="category-content">
      <section class="section knowledge-base">
        <h2 class="visibility-hidden">{{t 'categories'}}</h2>
        
        <section class="categories blocks">
          <ul class="blocks-list">
            {{#each sections}}
              <li class="blocks-item">
                <a href="{{url}}" class="blocks-item-link">
                  <span class="blocks-item-title">{{name}}</span>
                  {{#if articles}}
                  <span class="blocks-item-description">
                    <!-- {{#each articles}} 
                      {{#if @first}}--> <!-- Show the first article as a preview --> <!--
                      {{title}}
                      {{/if}}
                    {{/each}} -->
                  </span>
                  {{/if}}
                </a>
              </li>
            {{/each}}
          </ul>
          
        </section>
      </section>
    </div>
  </div>
</div>


